.trashcan-card {
    box-shadow: $shadow;
    border-radius: $card-border-radius;
    border: $card-border;
    margin: $s-size;
    padding: $s-size;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.trashcan-card__id {
    font-size: 0.8rem;
    opacity: 0.5;
}

.trashcan-card__connection {
    font-size: $font-size-small;
    font-weight: bold;
}

.trashcan-card__temperature {
    font-size: 1.6rem;
    margin-bottom: $s-size;
}
.trashcan-card__trashlevel {
    font-size: $font-size-large;
}

.trashcan-card__text {
    margin: 0.2rem;
    text-align: right;
    font-size: $font-size-small;
    span {
        font-weight: bold;
        float: left;
    }
}

.trashcan-card__container {
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.trashcan-card__button-container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
}

.trashcan-card__button {
    @extend .button;
    background-color: $trashcan-btn-color;
    width: 3.8rem;
    margin: 0.6rem $s-size;
    padding: $s-size;
    font-size: 1.4rem;
    border-radius: 0.3rem;
    &:hover{
        background-color:  darken($color: $trashcan-btn-color, $amount: 15);
    }
    span {
        pointer-events: none;
    }
}