* {
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

h1,h2,h3,h4,h5 {
    font-family: $font-headings;
}

body {
    color: rgb(40, 44, 52);
    font-family: $font-body;
    font-size: $m-size;
    line-height: 1.6;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    text-decoration: underline !important;
}
